* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

body {
  background: #ffd60a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Card */
.container {
  width: 90%;
  max-width: 1200px;
  background: #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.navbar nav a {
    position: relative;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  text-decoration: none;
  color: #fb8500;
}
.navbar nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #f4b52e;
  transition: 0.3s;
}

.navbar nav a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  padding: 40px;
  position: relative;
}

/* Left Side */
.left {
  width: 50%;
  z-index: 2;
}

.left h4 {
  color: #fb8500;
  margin-bottom: 10px;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.left p {
  color: gray;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 4.5px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.primary {
  background: #fb8500;
  border: none;
}
.primary:hover {
  transform: translateY(-5px);
  glow: 0 0 10px rgba(206, 185, 24, 0.966);
  box-shadow: 0 10px 20px rgba(219, 189, 15, 0.878);
}

.secondary {
  background: rgb(162, 16, 148);
  border: 1px solid rgb(0, 0, 0);
}
.secondary:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(129, 16, 84, 0.679);
}

.tertiary {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(167, 165, 165);
}
.tertiary:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(15, 14, 14, 0.2);
}

/* Right Side */
.right {
  width: 50%;
  position: relative;
}

/* Yellow curved background */
.right::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: #f2ac0a;
  top: -13.5%;
  right: -20%;
  border-radius: 60% 40% 60% 40%;
  z-index: 0;
}

/* Image */
.right img {
  width: 80%;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.right img:hover {
  transform: scale(1.05) rotate(1deg);
}

.image {
  border-radius: 60% 40% 60% 40%;
  border: 5px solid #e5e5e5;
  left: 3%;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .left, .right {
    width: 100%;
  }

  .left h1 {
    font-size: 32px;
  }

  .right::before {
    display: none;
  }
}